<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--------- FONTAWESOME------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <!------------- VUE ------------->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
    <!------------- FONT ------------->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Rubik:wght@400;500&display=swap" rel="stylesheet">
    
    <!-------------- CSS------------ -->
    <link rel="stylesheet" href="./css/style.css">
    
    <title>Max Coach</title>
</head>
<body>
    <div id="app">
        <div class="container-xxl header-back">
            <!------------ HEADER ------------>
            <header>
                <div class="container flex align-center">
                    
                    <!------------ LOGO ------------>
                    <div class=" logo flex-25">
                        <img src="./img/dark-logo.png" alt="">
                    </div>
                    
                    <!------------ MENU ------------>
                    <div class=" menu flex-grow">
                        <ul class="flex space-around">
                            <li v-for="item in menu">
                                <a class="purple-text" href="#">
                                    <span>{{item}}</span>
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                    <!-------------- ICONS -------------->
                    <div class="icons flex-25">
                        <ul class="flex justify-end">
                            <li v-for="icon in icons">
                                <a href="#">
                                    <i :class="icon"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
    
            <!-------------- HERO -------------->
            <div class="hero marg-top-50">
                <div class="container flex">
                    <!-------------- HERO TEXT -------------->
                    <div class="flex-45 hero-text pad-top-50">
                        <h5>i'm wingman</h5>
                        <h1 class="marg-20">peace on earth a wonderful wish but no way</h1>
                        <p class="marg-20 grey-text">Success isn't overnight. it's when everyday you get a little better than the day before. it all adds up.</p>
                        <!--------------- BUTTON --------------->
                        <a href="#">
                            <div class="btn">
                                <span>get started for free</span>  
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>

                    <!--------------- HERO IMAGE -------------->
                    <div class="hero-img flex-grow justify-center">
                        <img src="./img/home-movation-hero-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <!---------------- STATS ---------------->
        <div class=" stats container flex pad-90">
            <div class="flex-25">
                <p class="number green-text">1.926</p>
                <p class="marg-20">finished sessions</p>
            </div>
            <div class="flex-25">
                <p class="number green-text">100%</p>
                <p class="marg-20">satisfaction rate</p>
            </div>
            <div class="flex-25">
                <p class="number green-text">3092+</p>
                <p class="marg-20">enrolled learners</p>
            </div>
            <div class="flex-25">
                <p class="number green-text">200</p>
                <p class="marg-20">online instructors</p>
            </div>
        </div>

        <!---------------- ABOUT ME ---------------->
        <div class="about-me container flex space-between">

            <!---------------- LEFT SECTION ---------------->
            <div class="left-section flex-30">
                <h5>about me</h5>
                <h3 class="marg-20">
                    How to Be an Alpha Male: The 15 Habits of True Alphas
                </h3>
            </div>

            <!---------------- RIGHT SECTION ---------------->
            <div class="right-section flex-50">
                <p class="main-text">
                    Want to learn how to be <span class="green-text">an alpha male</span>? How to be more masculine? How to be the man you've always wanted to be?
                </p>         
                <p class="marg-20 grey-text">
                    Your goal is to show the consistency of business, core values, and customer core. Punctuality, reponsability, individuality, accuracy, enthusiasm - you have to clearly explain how these qualities are applicable to your work. And the important thing is you do love what you do.
                </p>      
            </div>
        </div>

        <!------------- VIDEO SECTION -------------->
        <div class="video-section container flex pad-50">

            <!----------------- IMG ----------------->
            <div class="video">
                <img src="./img/icon-youtube-play.png" alt="">
            </div>

            <!---------------- TEXT ---------------->
            <div class="video-text flex-40">
                <h4>
                    "Every morning you have two choices: continue to sleep with your dreams, or wake up and chase them."
                </h4>
                <img class="marg-top-50" src="./img/home-movation-shape-01.png" alt="">
                <p class="purple-text marg-20">Kaixa Stark</p>
                <p class="small-wingman grey-text">wingman</p>
            </div>
        </div>

        <!------------------ COURSES ------------------>
        <div class="courses container pad-90">

            <h5 class="grey-text marg-20">
                begin your journey at maxcoach
            </h5>
            <h2 class="pad-bot-50">
                latest <span class="green-text">online courses</span>
            </h2>

            <!--------------- OFFERS --------------->
            <div class="offers flex space-around flex-wrap marg-20">

                <!------------- SINGOLA OFFERTA ------------->
                <div class="offer flex-30 pad-bot-50">
                    <!------------ IMG ------------>
                    <img src="./img/motivation-course-06-480x298.jpg" alt="">
                    
                    <!---------- PRICE ------------>
                    <div>
                        <p class="price green-text marg-20 number">
                            $30.<span>00</span>
                        </p>
                        <p class="offer-title purple-text">
                            how <span>to be</span> successful: create a growth mindset for success
                        </p>

                        <!--------- INFO --------->
                        <div class="lessons flex grey-text marg-20">
                            <p>
                                <i class="far fa-file-alt"></i>
                                <span class="number">3</span>
                                Lessons  
                            </p>

                            <p>
                                <i class="far fa-user"></i>
                                <span class="number">50</span>
                                Students
                            </p>
                        </div>
                    </div>
                </div>

                <!------------- SINGOLA OFFERTA ------------->
                <div class="offer flex-30 pad-bot-50">
                    <!------------ IMG ------------>
                    <img src="./img/motivation-course-05-480x298.jpg" alt="">
                    
                    <!---------- PRICE ------------>
                    <div>
                        <p class="price green-text marg-20 number">
                            $30.<span>00</span>
                        </p>
                        <p class="offer-title purple-text">
                            how to build confidence <span>in</span> your abilities
                        </p>

                        <!--------- INFO --------->
                        <div class="lessons flex grey-text marg-20">
                            <p>
                                <i class="far fa-file-alt"></i>
                                <span class="number">1</span>
                                Lesson
                            </p>

                            <p>
                                <i class="far fa-user"></i>
                                <span class="number">50</span>
                                Students
                            </p>
                        </div>
                    </div>
                </div>

                <!------------- SINGOLA OFFERTA ------------->
                <div class="offer flex-30 pad-bot-50">
                    <!------------ IMG ------------>
                    <img src="./img/motivation-course-04-480x298.jpg" alt="">
                    
                    <!---------- PRICE ------------>
                    <div>
                        <p class="price green-text marg-20 number">
                            $20.<span>00</span>
                        </p>
                        <p class="offer-title purple-text">
                            productivity machine - focus <span>in a</span> distracted world
                        </p>

                        <!--------- INFO --------->
                        <div class="lessons flex grey-text marg-20">
                            <p>
                                <i class="far fa-file-alt"></i>
                                <span class="number">5</span>
                                Lessons  
                            </p>

                            <p>
                                <i class="far fa-user"></i>
                                <span class="number">50</span>
                                Students
                            </p>
                        </div>
                    </div>
                </div>

                <!------------- SINGOLA OFFERTA ------------->
                <div class="offer flex-30 pad-bot-50">
                    <!------------ IMG ------------>
                    <img src="./img/motivation-course-03-480x298.jpg" alt="">
                    
                    <!---------- PRICE ------------>
                    <div>
                        <p class="price green-text marg-20 number">
                            $20.<span>00</span>
                        </p>
                        <p class="offer-title purple-text">
                            effective time management mastery - complete guide
                        </p>

                        <!--------- INFO --------->
                        <div class="lessons flex grey-text marg-20">
                            <p>
                                <i class="far fa-file-alt"></i>
                                <span class="number">18</span>
                                Lessons  
                            </p>

                            <p>
                                <i class="far fa-user"></i>
                                <span class="number">50</span>
                                Students
                            </p>
                        </div>
                    </div>
                </div>

                <!------------- SINGOLA OFFERTA ------------->
                <div class="offer flex-30 pad-bot-50">
                    <!------------ IMG ------------>
                    <img src="./img/motivation-course-02-480x298.jpg" alt="">
                    
                    <!---------- PRICE ------------>
                    <div>
                        <p class="price green-text marg-20 number">
                            $25.<span>99</span>
                        </p>
                        <p class="offer-title purple-text">
                            body language secrets <span>for</span> entrepreneurs
                        </p>

                        <!--------- INFO --------->
                        <div class="lessons flex grey-text marg-20">
                            <p>
                                <i class="far fa-file-alt"></i>
                                <span class="number">19</span>
                                Lessons  
                            </p>

                            <p>
                                <i class="far fa-user"></i>
                                <span class="number">50</span>
                                Students
                            </p>
                        </div>
                    </div>
                </div>

                <!------------- SINGOLA OFFERTA ------------->
                <div class="offer flex-30 pad-bot-50">
                    <!------------ IMG ------------>
                    <img src="./img/motivation-course-01-480x298.jpg" alt="">
                    
                    <!---------- PRICE ------------>
                    <div>
                        <p class="price green-text marg-20 number">
                            $19.<span>99</span>
                        </p>
                        <p class="offer-title purple-text">
                            management skills: the science <span>of</span> leadership
                        </p>

                        <!--------- INFO --------->
                        <div class="lessons flex grey-text marg-20">
                            <p>
                                <i class="far fa-file-alt"></i>
                                <span class="number">17</span>
                                Lessons  
                            </p>

                            <p>
                                <i class="far fa-user"></i>
                                <span class="number">50</span>
                                Students
                            </p>
                        </div>
                    </div>
                </div>   
                
                <!------------- BUTTON ------------->
                <a class="space-around" href="#">
                    <div class="btn">
                        <span>View all courses</span>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </a>
            </div>

        </div>

        <!------------------ BOOKS ------------------>
        <div class="books container flex space-between pad-bot-90">
            
            <!------------BOOKS TEXT------------->
            <div class="books-text flex-40">
                <div class="pad-right-90">
                    <h5 class="grey-text marg-bot-20">
                        book store online
                    </h5>
                    <h3 class="marg-bot-20">
                        be alpha with <span class="green-text">wingman's book</span>
                    </h3>
                    <!---------LIST----------->
                    <ul>
                        <li class="flex marg-20">
                            <i class="fas fa-check green-text"></i>
                            <p class="grey-text">
                                Help you understand yourself better
                            </p>
                        </li>
                        <li class="flex marg-20">
                            <i class="fas fa-check green-text"></i>
                            <p class="grey-text">
                                Revealing mature tips
                            </p>
                        </li>
                        <li class="flex marg-20">
                            <i class="fas fa-check green-text"></i>
                            <p class="grey-text">
                                Give the right advice
                            </p>
                        </li>
                        <li class="flex marg-20">
                            <i class="fas fa-check green-text"></i>
                            <p class="grey-text">
                                Fascinating examples of alpha man
                            </p>
                        </li>
                    </ul>
                    <!-----------BUTTON------------>
                    <a href="#">
                        <div class="btn">
                           <span>get free ebook</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="book-img">
                <img src="./img/product-book-11-400x400.jpg" alt="">
                <!-------SHOP-------->
                <p class="offer-title purple-text marg-20">
                    alpha <span>man by</span> maxcoach
                </p>
                <p class="price green-text marg-20 number">
                    $29.<span>00</span>
                </p>
            </div>

            <div class="book-img">
                <img src="./img/product-book-10-400x400.jpg" alt="">
                <!-------SHOP-------->
                <p class="offer-title purple-text marg-20">
                    real <span>man</span> 4.0 <span>by</span> maxcoach
                </p>
                <p class="price green-text marg-20 number">
                    $39.<span>00</span>
                </p>
            </div>
        </div>

        <!----------------- PARTNERS ----------------->
        <div class=" partners container flex align-center">   
            <div>
                <img src="./img/client-logo-05-primary.png" alt="">
            </div> 
            
            <div>
                <img src="./img/client-logo-06-primary.png" alt="">
            </div>
            <div>
                <img src="./img/client-logo-07-primary.png" alt="">
            </div>
            <div>
                <img src="./img/client-logo-04-primary.png" alt="">
            </div>
            <div>
                <img src="./img/client-logo-03-primary.png" alt="">
            </div>
            <div>
                <img src="./img/client-logo-02-primary.png" alt="">
            </div>
        </div>

        <!----------------STORIES------------------>
        <div class="container-xxl header-back">

            <div class="stories container-xl flex">
                <!----------- TEXT ----------->
                <div class="stories-text flex-50">
                    <h5 class="green-text">
                        real stories
                    </h5>
                    <p class="pad-bot-50">
                        I am free to learn at my own pace, follow my own schedule and choose the subject I want to learn from the syllabus. Great study portal for people like me.
                    </p>
                    <img src="./img/testimonial-avata-02.jpg" alt="">
                    <p>Mina Hollace</p>
                    <span class="grey-text">/ Freelancer</span>
                
                </div>
                
                <!---------- CIRCLE ---------->
                <div class="circle">
                    <a class="arrow-up" href="#">
                        <img src="./img/image.png" alt="">
                    </a>

                    <span>
                        1/4
                    </span>
                    
                    <a class="arrow-down" href="#">
                        <img src="./img/image (1).png" alt="">
                    </a>
                </div>
                <!----------- IMG ----------->
                <div class="stories-img flex-50">
                </div>
            </div>
        </div>

        <!----------------- BLOG ----------------->
        <div class="blog container">
            <h5 class="marg-20">
                blog updated
            </h5>
            <h3 class="pad-bot-50">
                Interesting <span class="green-text">articles updated</span> daily
            </h3>

            <div class="articles flex space-between">
                
                <!---------- SINGLE ARTICLE ---------->
                <div class="article">
                    <!--------- IMG --------->
                    <img src="./img/motivation-blog-04-480x325.jpg" alt="">

                    <!------- TEXT ------->
                    <div class="lessons grey-text marg-20">
                        <p>
                            <i class="far fa-calendar"></i>
                            May <span class="number">13, 2020</span>
                        </p>
                    </div>
                    <p class="offer-title marg-bot-20">
                        how <span>to</span> stay true <span>to</span> your personal brand
                    </p>   
                    <p class="lessons grey-text">
                        When it comes to your business or career, you want ...
                    </p>
                </div>

                <!---------- SINGLE ARTICLE ---------->
                <div class="article">
                    <!--------- IMG --------->
                    <img src="./img/motivation-blog-03-480x325.jpg" alt="">

                    <!------- TEXT ------->
                    <div class="lessons grey-text marg-20">
                        <p>
                            <i class="far fa-calendar"></i>
                            May <span class="number">13, 2020</span>
                        </p>
                    </div>
                    <p class="offer-title marg-bot-20">
                        5 vital lessons <span>in</span> 5 years <span>of</span> freelancing
                    </p>   
                    <p class="lessons grey-text">
                        Being self-employed and working from home, it's easy to get
                    </p>
                </div>

                <!---------- SINGLE ARTICLE ---------->
                <div class="article">
                    <!--------- IMG --------->
                    <img src="./img/motivation-blog-02-480x325.jpg" alt="">

                    <!------- TEXT ------->
                    <div class="lessons grey-text marg-20">
                        <p>
                            <i class="far fa-calendar"></i>
                            May <span class="number">13, 2020</span>
                        </p>
                    </div>
                    <p class="offer-title marg-bot-20">
                        11 super useful tips <span>for</span> small-business owners
                    </p>   
                    <p class="lessons grey-text">
                        Being a small-business owner pases a tan of challenges. We ...
                    </p>
                </div>

                <!---------- SINGLE ARTICLE ---------->
                <div class="article">
                    <!--------- IMG --------->
                    <img src="./img/motivation-blog-01-480x325.jpg" alt="">

                    <!------- TEXT ------->
                    <div class="lessons grey-text marg-20">
                        <p>
                            <i class="far fa-calendar"></i>
                            May <span class="number">13, 2020</span> 
                        </p>
                    </div>
                    <p class="offer-title marg-bot-20">
                        how  <span>to</span> give yourself grace <span>to</span> start again
                    </p>   
                    <p class="lessons grey-text">
                        Forgive yourself for bad habits you may have started or ...
                    </p>
                </div>
            </div>

            <div class="recall pad-top-50 pad-bot-50">
                <a class="green-text" href="#">
                    view ala posts
                </a>
            </div>
        </div>

        <!---------------- FOOTER ---------------->
        <footer class="pad-50 marg-top-50">
            <div class="container flex">
               
                <!---------CONTACTS---------->
                <div class="contacts flex-50">
                    <p>Address</p>
                    <ul>
                        <li v-for="contact in contacts">
                            <a href="#">
                                {{contact}}
                            </a>
                        </li>
                    </ul>    
                </div>
                
                <!---------NAVIGATION---------->
                <div class="navigation">
                    <p>Explore</p>
                    <ul class="flex">  
                        <li v-for="item in explore">
                            <a  href="#">
                                {{item}}
                            </a>
                        </li>              
                     </ul>
                </div>

                <!------------INFO------------>
                <div class="information">
                    <p>Information</p>
                    <ul>  
                        <li v-for="item in information">
                            <a href="#">
                                {{item}}
                            </a>
                        </li>            
                     </ul>
                </div>
            </div>
            
            <!-----------ICONS------------>
            <div class="container">
                <div class="icons">
                    <ul class="flex">
                        <li v-for="icon in footerIcons">
                            <a href="#">
                                <i :class="icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <!----------COPY---------->
                <div class="copy pad-top-50">
                    <i :class="copy.copyIcon"></i>
                    {{copy.copyText}}
                </div>
            </div>
        </footer>
    </div>
    
    <!------------------ JS ------------------>
    <script src="./js/main.js"></script>
</body>
</html>